<% @announcements.each do |announcement| %>

  <div class = "content content_index">
    <h1><%= announcement.title%></h1>
    <p>
    Escrito por: <%= announcement.user.email %>
    </p>
    <% if announcement.visits_count != 0%>
       <p>Visitas = TRUE</p>
    <% end %>
    <div class = "text_content">
    <%= announcement.body %>
    </div>
    <div class = "text_content">
      <p>Fecha de creacion:  <%= announcement.created_at.strftime("%d del mes %B del año %Y") %></p>
    </div>
  </div>
<% end %>





